.d-none.d-lg-block.col-lg-4 {
    margin: 4.5rem 0;
    background: #212529;
    padding: 1rem;
    border-radius: 7px;
}


.d-none.d-lg-block.col-lg-4 a {
    text-decoration: none;
    padding: 11px 1rem;
    background: #018C4B;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    margin: 0 3rem;
}
.d-none.d-lg-block.col-lg-4 h4 {
    margin-bottom: 2rem;
    text-align: center;
    color: white;
}

