.wrapper {
    width: 50%;
    margin: 5rem auto;
}

.item {
    background: rgb(241, 238, 238);
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 7px 7px 7px #dcdcdc17;
}

.item h3 {
    font-size: 24px;
    margin-bottom: 1rem;
}

@media screen and (max-width: 780px) {
    .wrapper {
        width: 80%;
    }
}